---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grocy
spec:
  chartRef:
    kind: OCIRepository
    name: grocy
  interval: 30m
  values:
    controllers:
      grocy:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          hostUsers: false
        containers:
          app:
            image:
              repository: linuxserver/grocy
              tag: version-v4.5.0
            env:
              TZ: ${TIMEZONE}
              PUID: "1000"
              PGID: "1000"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 128M
              limits:
                memory: 512M

    service:
      app:
        controller: grocy
        ports:
          http:
            port: 80

    persistence:
      config:
        existingClaim: grocy
        advancedMounts:
          grocy:
            app:
              - path: /config
                readOnly: false
