---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: freshrss
spec:
  interval: 1h
  path: ./kubernetes/apps/freshrss/freshrss/app
  prune: true
  wait: false
  targetNamespace: freshrss
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
