---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: tandoor-db-restore
  namespace: tandoor
spec:
  instances: 1
  storage:
    size: 10Gi
    storageClass: longhorn

  bootstrap:
    recovery:
      source: clusterBackup

  externalClusters:
    - name: clusterBackup
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: tandoor-db-store
          serverName: tandoor-db
