---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy-gateway
spec:
  interval: 1h
  chart:
    spec:
      chart: alloy
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: grafana-charts-alloy-gateway
        namespace: observability
  values:
    controller:
      type: deployment
      replicas: 2

    alloy:
      configMap:
        create: true
        content: |
          otelcol.receiver.otlp "main" {
            grpc {
              endpoint = "0.0.0.0:4317"
            }

            http {
              endpoint = "0.0.0.0:4318"
            }

            output {
              traces = [otelcol.processor.batch.main.input]
            }
          }

          otelcol.processor.batch "main" {
            output {
              traces = [otelcol.exporter.otlp.tempo.input]
            }
          }

          otelcol.exporter.otlp "tempo" {
            client {
              endpoint = "tempo.observability.svc.cluster.local:4317"
              tls {
                insecure = true
              }
            }
          }

      extraPorts:
        - name: otlp-grpc
          port: 4317
          targetPort: 4317
          protocol: TCP
        - name: otlp-http
          port: 4318
          targetPort: 4318
          protocol: TCP
