# TEMPLATE: encrypt to secret-eventsub.sops.yaml with SOPS (do not commit plaintext secrets)
#
# Example:
#   sops --encrypt --in-place kubernetes/apps/observability/twitch-exporter/app/secret-eventsub.sops.yaml
apiVersion: v1
kind: Secret
metadata:
  name: twitch-exporter-eventsub-secret
  namespace: observability
type: Opaque
stringData:
  TWITCH_CLIENT_ID: ENC[AES256_GCM,data:1589hE5Dxb54+okB4TZTKes8VNLOBIXGa398JQsz,iv:zcAPGFK309I5j9+IpU0UEGl3XIiHpm9yWr0SrVa3UYQ=,tag:br2JPX9X67TgJJAtrSZm8g==,type:str]
  TWITCH_CLIENT_SECRET: ENC[AES256_GCM,data:1q9Yit6VxGKqm0kPcfAEsUnOUI9DJ2TWmLerooiy,iv:N1Bti+T3/WqfVlkQ8f5ax081O6va7296fuOUGQOoRWY=,tag:hTYQQVsfier1FAtPpv5L2g==,type:str]
  TWITCH_SELF_CHANNEL: ENC[AES256_GCM,data:98a9H+kxhg==,iv:dpkyWyr3rb2pnSEo7J6Z5cF6TIsHylvlnv5TPH8NSPg=,tag:Gbx296rTMQkoE2eaHMJF0w==,type:str]
# # Required for privileged EventSub topics:
# TWITCH_ACCESS_TOKEN: "<user access token>"
# TWITCH_REFRESH_TOKEN: "<user refresh token>"
# # Twitch requires HTTPS on 443 and URL ending with /eventsub
# EVENTSUB_WEBHOOK_URL: "https://twitch-eventsub.${SECRET_DOMAIN}/eventsub"
# # Twitch requires ASCII 10-100 chars
# EVENTSUB_WEBHOOK_SECRET: "<random ASCII 10-100 chars>"
sops:
  age:
    - recipient: age1wkk4mjs434f8e6z65vlmxlmfc4z6a9seekzwmm42c9tuxyfnp97s6vk25t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3cDhodEhTUkV6d0dRK3Vm
        b3YrbThHUjQvS2ZZVzNrOEYwbUdVWkxITXc0Ckc1UWR3N2k4TVpQaW85NEcxLzVk
        ZWZLTTE2ak9Sck9yNTY4Z2RCMHdSY0UKLS0tIDFDazFvL0xnb2tibXA0aXdBWndi
        K2NRNWVsVFJ6L2Z2aHFtSHhHcnA1cjAKvNSn0QqdQUzDmok80oYv4HuvFgECjMd6
        KEge8K3ZaV+pXVx/3Q7WC02H2xfOLM0fLbHut/p/zIuXJ7st7fo93Q==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-02-07T18:34:46Z"
  mac: ENC[AES256_GCM,data:k3zFi4dQ7gDUfVPdjW3V/C1UkfL6on281y+Buczfk9eF1S+uRo+/h+8D6XF4iBrSnFl2YR42R0rEtX4o/+7zB71NJABbqO+tJkqFTMrra8NbgtbG9oHpDR9bbd3IQ9HyoEnYdnrLjMXeottteCGgr+k7MyLb17KMoIEUZqvFa7g=,iv:oDzfaEvuHzfZ1pmwdcAWJGzwQUDbYfyaPtfBnlmglU4=,tag:Tk9VTeeH+e63U3nFCVLWXg==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
