---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: arc-systems

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./actions-runner-controller/ks.yaml
  - ./gha-runner-scale-set/ks.yaml
