---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-disaster-recovery
spec:
  instances: 1

  inheritedMetadata:
    annotations:
      reloader.stakater.com/auto: "true"

  bootstrap:
    recovery:
      source: cnpg-disaster-recovery-source

  replica:
    enabled: true
    source: cnpg-disaster-recovery-source

  storage:
    size: 10Gi
    storageClass: longhorn

  monitoring:
    enablePodMonitor: true
    customQueriesConfigMap:
      - name: cnpg-disaster-recovery-monitoring
        key: custom-queries

  externalClusters:
    - name: cnpg-disaster-recovery-source
      barmanObjectStore:
        # Patch this per app/cluster:
        # s3://<bucket>/<prefix>/<source-cluster>/
        destinationPath: s3://cnpg-backups-bucket/homelab-cluster/example-db/
        endpointURL: http://10.0.0.110:3900
        s3Credentials:
          accessKeyId:
            name: cnpg-backup-s3
            key: S3_ACCESS_KEY_ID
          secretAccessKey:
            name: cnpg-backup-s3
            key: S3_SECRET_ACCESS_KEY
          region:
            name: cnpg-backup-s3
            key: S3_REGION
        wal:
          maxParallel: 8
