---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-disaster-recovery
  annotations:
    # Stop database pods but retain PVCs for later rehydrate.
    cnpg.io/hibernation: "on"
spec:
  instances: 1

  inheritedMetadata:
    annotations:
      reloader.stakater.com/auto: "true"

  bootstrap:
    recovery:
      source: cnpg-disaster-recovery-source

  replica:
    enabled: true
    source: cnpg-disaster-recovery-source

  storage:
    size: 10Gi
    storageClass: longhorn

  monitoring:
    customQueriesConfigMap:
      - name: cnpg-disaster-recovery-monitoring
        key: custom-queries

  externalClusters:
    - name: cnpg-disaster-recovery-source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          # Patch this per app/cluster:
          # Must reference an ObjectStore in the same namespace
          barmanObjectName: example-db-store
          # Must match the backup server name for the source cluster
          # (typically the source CNPG cluster name)
          serverName: example-db
