---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cnpg-disaster-recovery-check
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cnpg-disaster-recovery-check
rules:
  - apiGroups: ["postgresql.cnpg.io"]
    resources: ["clusters"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cnpg-disaster-recovery-check
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cnpg-disaster-recovery-check
subjects:
  - kind: ServiceAccount
    name: cnpg-disaster-recovery-check
