---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: invoiceninja
  namespace: invoiceninja
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-general
  volumeMode: Filesystem
