---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: invoiceninja
  namespace: invoiceninja
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-rwx
  volumeMode: Filesystem
