---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sloth
spec:
  interval: 1h
  chart:
    spec:
      chart: sloth
      version: 0.15.0
      sourceRef:
        kind: HelmRepository
        name: slok-sloth
        namespace: observability
  values:
    resources:
      requests:
        cpu: 10m
        memory: 96Mi
      limits:
        cpu: 100m
        memory: 256Mi
