---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: vault
  namespace: vault
spec:
  interval: 1h
  path: ./kubernetes/apps/vault/vault/app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: vault-transit-seal
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: vault
  timeout: 10m
  wait: true
