---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: tandoor-db
  namespace: tandoor
spec:
  instances: 1
  storage:
    size: 10Gi
    storageClass: longhorn
  monitoring:
    enablePodMonitor: true

  bootstrap:
    initdb:
      database: tandoor
      owner: tandoor
      secret:
        name: tandoor-db-secret

  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      endpointURL: http://10.0.0.110:3900
      destinationPath: s3://cnpg-backups-bucket/homelab-cluster/tandoor-db/
      s3Credentials:
        accessKeyId:
          name: cnpg-backup-s3
          key: S3_ACCESS_KEY_ID
        secretAccessKey:
          name: cnpg-backup-s3
          key: S3_SECRET_ACCESS_KEY
        region:
          name: cnpg-backup-s3
          key: S3_REGION
      wal:
        compression: gzip
      data:
        compression: gzip
