---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: tandoor-db-store
spec:
  retentionPolicy: 30d
  configuration:
    endpointURL: http://10.0.0.110:3900
    destinationPath: s3://cnpg-backups-bucket/homelab-cluster/tandoor-db/
    s3Credentials:
      accessKeyId:
        name: cnpg-backup-s3
        key: S3_ACCESS_KEY_ID
      secretAccessKey:
        name: cnpg-backup-s3
        key: S3_SECRET_ACCESS_KEY
      region:
        name: cnpg-backup-s3
        key: S3_REGION
    wal:
      compression: gzip
      maxParallel: 8
    data:
      compression: gzip
