---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tandoor
spec:
  chartRef:
    kind: OCIRepository
    name: tandoor
  interval: 30m
  values:
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          hostUsers: false
        containers:
          app:
            image:
              repository: docker.io/vabene1111/recipes
              tag: 2.3.6
            envFrom:
              - secretRef:
                  name: tandoor-secrets
            env:
              ALLOWED_HOSTS: tandoor.${SECRET_DOMAIN}
              DB_ENGINE: django.db.backends.postgresql
              POSTGRES_HOST: tandoor-db-rw.tandoor.svc.cluster.local
              POSTGRES_PORT: "5432"
              POSTGRES_DB: tandoor
              POSTGRES_USER: tandoor
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 512Mi
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: 80

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80

    persistence:
      data:
        existingClaim: tandoor
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
                readOnly: false
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
                readOnly: false
