---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-instance
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.41.1@sha256:2850032e3a59bc578ec415ceb7d2f2b5b5ea81022fc7a48f2753eb5ac7c31ed1
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
