---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plugin-barman-cloud
spec:
  interval: 1h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: plugin-barman-cloud
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: cnpg-system
