---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 1h
  chart:
    spec:
      chart: grafana
      version: 10.5.5
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: observability
  values:
    admin:
      existingSecret: grafana-admin
      userKey: admin-user
      passwordKey: admin-password

    persistence:
      enabled: true
      storageClassName: longhorn
      size: 10Gi

    service:
      type: ClusterIP

    # Provision core datasources for the LGTM+P stack.
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://kube-prometheus-stack-prometheus.observability.svc.cluster.local:9090
            isDefault: true
          - name: Mimir
            type: prometheus
            access: proxy
            url: http://mimir-distributed-gateway.observability.svc.cluster.local/prometheus
            jsonData:
              httpHeaderName1: X-Scope-OrgID
            secureJsonData:
              httpHeaderValue1: homelab
          - name: Loki
            type: loki
            access: proxy
            url: http://loki-gateway.observability.svc.cluster.local
          - name: Tempo
            type: tempo
            access: proxy
            url: http://tempo.observability.svc.cluster.local:3200
          - name: Pyroscope
            type: pyroscope
            access: proxy
            url: http://pyroscope.observability.svc.cluster.local:4040
          - name: Alertmanager
            type: alertmanager
            access: proxy
            url: http://kube-prometheus-stack-alertmanager.observability.svc.cluster.local:9093
            jsonData:
              implementation: prometheus

    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        label: grafana_dashboard
        labelValue: "1"
