---
apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config-ci
data:
  renovate.json: |-
    {
      "$schema": "https://docs.renovatebot.com/renovate-schema.json",
      "extends": [
        "config:recommended",
        ":dependencyDashboard",
        ":labels(dependencies)"
      ],
      "dependencyDashboard": true,
      "automerge": false,

      "platform": "github",
      "autodiscover": true,
      "autodiscoverFilter": ["webgrip/*"],
      "timezone": "UTC",
      "schedule": ["after 2am and before 3am every day"],
      "onboarding": true,
      "requireConfig": "optional",

      "prConcurrentLimit": 3,
      "prHourlyLimit": 2,

      "enabledManagers": [
        "github-actions",
        "pre-commit"
      ],

      "ignorePaths": [
        "**/*.sops.yaml",
        "**/*.sops.yml",
        "bootstrap/**",
        "talos/**",
        "kubeconfig"
      ],

      "packageRules": [
        {
          "matchManagers": ["github-actions"],
          "groupName": "GitHub Actions"
        },
        {
          "matchManagers": ["pre-commit"],
          "groupName": "pre-commit hooks"
        },
        {
          "matchUpdateTypes": ["major"],
          "addLabels": ["major"],
          "dependencyDashboardApproval": true
        }
      ]
    }
