---
apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config-apps
data:
  renovate.json: |-
    {
      "$schema": "https://docs.renovatebot.com/renovate-schema.json",
      "extends": [
        "config:recommended",
        ":dependencyDashboard",
        ":labels(dependencies)"
      ],
      "dependencyDashboard": true,
      "automerge": false,

      "platform": "github",
      "autodiscover": true,
      "autodiscoverFilter": ["webgrip/*"],
      "timezone": "UTC",
      "schedule": ["after 1am and before 2am every day"],
      "onboarding": true,
      "requireConfig": "optional",

      "prConcurrentLimit": 3,
      "prHourlyLimit": 2,

      "enabledManagers": [
        "npm",
        "pip_requirements",
        "poetry",
        "pipenv",
        "gomod",
        "cargo",
        "maven",
        "gradle",
        "composer",
        "nuget",
        "dockerfile",
        "docker-compose"
      ],

      "ignorePaths": [
        "**/*.sops.yaml",
        "**/*.sops.yml",
        "bootstrap/**",
        "talos/**"
      ],

      "packageRules": [
        {
          "matchManagers": ["npm"],
          "groupName": "npm"
        },
        {
          "matchManagers": ["pip_requirements", "poetry", "pipenv"],
          "groupName": "python"
        },
        {
          "matchManagers": ["gomod"],
          "groupName": "go modules"
        },
        {
          "matchManagers": ["cargo"],
          "groupName": "rust crates"
        },
        {
          "matchManagers": ["maven", "gradle"],
          "groupName": "jvm"
        },
        {
          "matchManagers": ["composer"],
          "groupName": "php composer"
        },
        {
          "matchManagers": ["nuget"],
          "groupName": "dotnet"
        },
        {
          "matchManagers": ["dockerfile", "docker-compose"],
          "matchDatasources": ["docker"],
          "groupName": "app container images"
        },
        {
          "matchUpdateTypes": ["major"],
          "addLabels": ["major"],
          "dependencyDashboardApproval": true
        }
      ]
    }
