---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: renovate-github-app-token
  namespace: renovate

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: renovate-github-app-token
  namespace: renovate
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create", "update", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: renovate-github-app-token
  namespace: renovate
subjects:
  - kind: ServiceAccount
    name: renovate-github-app-token
    namespace: renovate
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: renovate-github-app-token
