---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault-unseal
spec:
  interval: 1h
  chart:
    spec:
      chart: vault
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: vault-unseal
  values:
    injector:
      enabled: false
    ui:
      enabled: true
    server:
      standalone:
        enabled: true
        config: |-
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }

          storage "file" {
            path = "/vault/data"
          }
      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: longhorn
      auditStorage:
        enabled: false
