---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 1h
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: longhorn-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultSettings:
      defaultDataPath: "/var/lib/longhorn"
      replicaDiskSoftAntiAffinity: false
      createDefaultDiskLabeledNodes: false
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: "3"
      defaultSharedVolumeType: nfs
      guaranteedEngineManagerCPU: "20"
      guaranteedReplicaManagerCPU: "20"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      orphanAutoDeletion: true
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "1"
      storageReservedPercentageForDefaultDisk: "10"
    ingress:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: true
