---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-disaster-recovery
spec:
  externalClusters:
    - name: cnpg-disaster-recovery-source
      barmanObjectStore:
        destinationPath: s3://cnpg-backups-bucket/homelab-cluster/backstage-db/
        endpointURL: http://10.0.0.110:3900
        s3Credentials:
          accessKeyId:
            name: cnpg-backup-s3
            key: S3_ACCESS_KEY_ID
          secretAccessKey:
            name: cnpg-backup-s3
            key: S3_SECRET_ACCESS_KEY
          region:
            name: cnpg-backup-s3
            key: S3_REGION
        wal:
          maxParallel: 8
