---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-disaster-recovery
spec:
  externalClusters:
    - name: cnpg-disaster-recovery-source
      barmanObjectStore:
        destinationPath: s3://cnpg-backups-bucket/homelab-cluster/backstage-db/
