---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blackbox-exporter
spec:
  interval: 1h
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: 11.7.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: observability
  values:
    fullnameOverride: blackbox-exporter

    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi

    # Keep default module, but make it explicit for readability.
    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            follow_redirects: true
            preferred_ip_protocol: "ip4"

    # We use Prometheus Operator Probes (Probe CRs) for targets.
    serviceMonitor:
      enabled: false
      selfMonitor:
        enabled: false
