---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sparkyfitness

components:
  - ../../components/sops
  - ../../components/cnpg-backup

resources:
  - ./namespace.yaml
  - ./sparkyfitness/ks.yaml
