---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 1h
  chart:
    spec:
      chart: loki
      version: 6.49.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts-loki
        namespace: observability
  values:
    deploymentMode: SimpleScalable

    global:
      extraArgs:
        - -config.expand-env=true
      extraEnvFrom:
        - secretRef:
            name: cnpg-backup-s3

    loki:
      auth_enabled: false
      schemaConfig:
        configs:
          - from: 2024-04-01
            store: tsdb
            object_store: s3
            schema: v13
            index:
              prefix: index_
              period: 24h
      storage:
        bucketNames:
          chunks: loki-chunks
          ruler: loki-ruler
          admin: loki-admin
        type: s3
        s3:
          endpoint: ${S3_ENDPOINT}
          region: ${S3_REGION}
          accessKeyId: ${S3_ACCESS_KEY_ID}
          secretAccessKey: ${S3_SECRET_ACCESS_KEY}
          s3ForcePathStyle: true
          insecure: true
