---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freshrss-postgresql
spec:
  interval: 1h
  timeout: 10m
  chartRef:
    kind: OCIRepository
    name: freshrss-postgresql
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    fullnameOverride: freshrss-postgresql
    auth:
      existingSecret: freshrss-secrets
      username: freshrss
      database: freshrss
      secretKeys:
        adminPasswordKey: POSTGRES_SUPERUSER_PASSWORD
        userPasswordKey: POSTGRES_PASSWORD
    architecture: standalone
    primary:
      persistence:
        enabled: true
        size: 10Gi
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          memory: 512Mi
    volumePermissions:
      enabled: true
