---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actions-runner-controller
spec:
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set-controller
  interval: 1h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    gha-runner-scale-set-controller:
      replicaCount: 1
      metrics:
        controllerManagerAddr: ":8080"
        listenerAddr: ":8080"
        listenerEndpoint: "/metrics"
      podAnnotations:
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
