---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: gha-runner-controller-metrics
spec:
  namespaceSelector:
    matchNames:
      - arc-systems
  podMetricsEndpoints:
    - targetPort: 8080
      path: /metrics
      interval: 30s
  selector:
    matchLabels:
      app.kubernetes.io/instance: gha-runner-scale-set-controller
