---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
spec:
  interval: 1h
  chart:
    spec:
      chart: vault
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: vault
  values:
    injector:
      enabled: false
    ui:
      enabled: true
    server:
      extraEnvironmentVars:
        VAULT_SEAL_TYPE: transit
      extraSecretEnvironmentVars:
        - envName: VAULT_ADDR
          secretName: vault-transit-seal
          secretKey: VAULT_SEAL_TRANSIT_ADDR
        - envName: VAULT_TOKEN
          secretName: vault-transit-seal
          secretKey: VAULT_SEAL_TRANSIT_TOKEN
        - envName: VAULT_TRANSIT_SEAL_MOUNT_PATH
          secretName: vault-transit-seal
          secretKey: VAULT_SEAL_TRANSIT_MOUNT_PATH
        - envName: VAULT_TRANSIT_SEAL_KEY_NAME
          secretName: vault-transit-seal
          secretKey: VAULT_SEAL_TRANSIT_KEY_NAME
      standalone:
        enabled: true
        config: |-
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }

          storage "file" {
            path = "/vault/data"
          }
      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: longhorn
      auditStorage:
        enabled: false
