---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
spec:
  interval: 1h
  chart:
    spec:
      chart: vault
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: vault
  values:
    injector:
      enabled: false
    ui:
      enabled: true
    server:
      updateStrategyType: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
      standalone:
        enabled: true
        config: |-
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }

          storage "file" {
            path = "/vault/data"
          }

          seal "transit" {
            address    = "http://vault-unseal.vault-unseal.svc:8200"
            mount_path = "transit/"
            key_name   = "vault-unseal"

            # Read token from an environment variable at runtime.
            token = "env://VAULT_SEAL_TRANSIT_TOKEN"
          }
      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: longhorn
      auditStorage:
        enabled: false

      extraSecretEnvironmentVars:
        - envName: VAULT_SEAL_TRANSIT_TOKEN
          secretName: vault-transit-seal
          secretKey: VAULT_SEAL_TRANSIT_TOKEN
