---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

components:
  - ../../components/sops
  - ../../components/cnpg-backup

resources:
  - ./namespace.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./grafana/ks.yaml
  - ./mimir-distributed/ks.yaml
  - ./loki/ks.yaml
  - ./tempo/ks.yaml
  - ./pyroscope/ks.yaml
  - ./alloy-agent/ks.yaml
  - ./alloy-gateway/ks.yaml
