---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
spec:
  interval: 1h
  chart:
    spec:
      chart: tempo
      version: 1.24.1
      sourceRef:
        kind: HelmRepository
        name: grafana-charts-tempo
        namespace: observability
  values:
    tempo:
      extraEnvFrom:
        - secretRef:
            name: cnpg-backup-s3
      # Store traces in S3-compatible object storage.
      storage:
        trace:
          backend: s3
          s3:
            bucket: tempo
            endpoint: ${S3_ENDPOINT}
            region: ${S3_REGION}
            access_key: ${S3_ACCESS_KEY_ID}
            secret_key: ${S3_SECRET_ACCESS_KEY}
            insecure: true
