---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: searxng-private-ingress
  labels:
    app.kubernetes.io/name: searxng
    app.kubernetes.io/part-of: searxng
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: searxng
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: searxng
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: network
        - ipBlock:
            cidr: 10.0.0.0/8
        - ipBlock:
            cidr: 172.16.0.0/12
        - ipBlock:
            cidr: 192.168.0.0/16
        - ipBlock:
            cidr: 127.0.0.0/8
        - ipBlock:
            cidr: fd00::/8
        - ipBlock:
            cidr: ::1/128
      ports:
        - protocol: TCP
          port: 8080
