---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: searxng
  namespace: searxng
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-general
  volumeMode: Filesystem
