---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set
spec:
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  dependsOn:
    - name: actions-runner-controller
      namespace: arc-systems
  interval: 1h
  valuesFrom:
    - kind: Secret
      name: gha-runner-scale-set-secrets
      valuesKey: github_config_url
      targetPath: githubConfigUrl
  values:
    githubConfigSecret: gha-runner-scale-set-secrets
    minRunners: 2
    maxRunners: 10
    runnerGroup: Default
    runnerScaleSetName: arc-runner-set
    template:
      metadata:
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/path: "/metrics"
          prometheus.io/port: "8080"
      spec:
        initContainers:
          - name: init-dind-externals
            image: webgrip/github-runner:3570fec0508fbcc0b1ad8cde70de068e8d4cdc58
            command:
              [
                "cp",
                "-r",
                "-v",
                "/home/runner/externals/.",
                "/home/runner/tmpDir/",
              ]
            volumeMounts:
              - name: dind-externals
                mountPath: /home/runner/tmpDir
        containers:
          - name: runner
            image: webgrip/github-runner:3570fec0508fbcc0b1ad8cde70de068e8d4cdc58
            resources:
              requests:
                cpu: 250m
                memory: 512Mi
              limits:
                cpu: 1
                memory: 2Gi
            command: ["/home/runner/run.sh"]
            env:
              - name: DOCKER_HOST
                value: unix:///var/run/docker.sock
            volumeMounts:
              - name: work
                mountPath: /home/runner/_work
              - name: dind-sock
                mountPath: /var/run
          - name: dind
            image: docker:dind
            args:
              - dockerd
              - --host=unix:///var/run/docker.sock
              - --group=$(DOCKER_GROUP_GID)
            env:
              - name: DOCKER_GROUP_GID
                value: "123"
            securityContext:
              privileged: true
            volumeMounts:
              - name: work
                mountPath: /home/runner/_work
              - name: dind-sock
                mountPath: /var/run
              - name: dind-externals
                mountPath: /home/runner/externals
        volumes:
          - name: work
            emptyDir: {}
          - name: dind-sock
            emptyDir: {}
          - name: dind-externals
            emptyDir: {}
    listenerTemplate:
      metadata:
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/path: "/metrics"
          prometheus.io/port: "8080"
      spec:
        containers:
          - name: listener
