---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: invoiceninja

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./invoiceninja/ks.yaml
