---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-disaster-recovery
spec:
  externalClusters:
    - name: cnpg-disaster-recovery-source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: freshrss-db-store
          serverName: freshrss-db
