---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: backstage-kubernetes
  namespace: backstage
---
apiVersion: v1
kind: Secret
metadata:
  name: backstage-kubernetes-token
  namespace: backstage
  annotations:
    kubernetes.io/service-account.name: backstage-kubernetes
type: kubernetes.io/service-account-token
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: backstage-kubernetes-view
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - kind: ServiceAccount
    name: backstage-kubernetes
    namespace: backstage
