---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-disaster-recovery
spec:
  bootstrap:
    recovery:
      source: cnpg-disaster-recovery-source
  replica:
    enabled: true
    source: cnpg-disaster-recovery-source
  externalClusters:
    - name: cnpg-disaster-recovery-source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: tandoor-db-store
          serverName: tandoor-db
